# Terraform state
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.myplan


# Terraform working directory
.terraform/

# Sensitive variable files
terraform.tfvars
*.auto.tfvars


# Crash logs
crash.log

# OS junk
.DS_Store
Thumbs.db